{% if user.is_authenticated %}
<h1>Welcome {{ user.username }}</h1>
{% endif %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>QuestVerse Login</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="login-container">
    <h1>Welcome to QuestVerse </h1>
    
    {% if not user.is_authenticated %}
    <p>Login to explore events</p>
 <a href="/accounts/google/login/" class="google-btn">
        🔵 Login with Google
    </a>
    
{% endif %}
   
</div>

</body>
</html>